
	.col-sm-12
	{
		height:100px;
		color:white;
		background-color: blue;
		text-align: center;
		border: 2px solid black;
	}
	
	.col-sm-6
	{
		height:100px;
		color:black;
		background-color: yellow;
		text-align: center;
		border: 2px solid black;		
	}
	
	.col-sm-3
	{
		height:100px;
		color:white;
		background-color: green;
		text-align: center;
		border: 2px solid black;		
	}
	
	.nav-item:hover
	{
		opacity: 0.14;
		color: white;
	}
	
	.navbar-inverse
	{
		background-color: black;
		overflow: hidden;
	}
	
	.navbar-inverse a
	{
		float: left;
		display: block;
		color: white; 
		
	}
	
	header 
	{
		padding: 154px 0 100px;
		text-align: center;
	}

	header 
		{
			padding: 110px 0 100px;
			text-align: center;
		}

	section 	
	{
		
	}
	
	div.alex-img
	{
		float: right;
		padding-left: 15px;
		padding-right: 5px;
		display: inline;
		vertical-align: middle;

	}
	
	.img-responsive
	{

		display: circle;
		max-width: 100%;
		padding-left: 250px;
		padding-right: 250px;
		height: 160px;
		width: 660px;
	
	}
	iframe
	{
		float: right;
		padding-left: 25px;
		padding-right: 5px;
		display: inline;
		vertical-align: middle;
		padding-top: 20px;
		padding-bottom: 5px;
	}

.fa {
    padding: 20px;
    font-size: 150px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.6;
	width: 120px;
	height: 120px;
	font-size: 80px;
	color:white;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube
{
	background: #FF0000;
	color: white;
}
.fa-linkedin
{
	background: #55ACEE;
    color: white;
}
.fa-github
{
	background: #333;
	color: white;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

